.bloco{
    background-color: rgb(90, 159, 237);
    width: 20%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dois{
    background-color: red;
}
.conteiner{
    display: flex;
    flex-direction: row;
    gap:15px;
}
.conteiner :nth-child(1){
    order: 2;
}
.conteiner :nth-child(2){
    order: 3;
}
.conteiner :nth-child(3){
    order: 1;
}
.conteiner :nth-child(4){
    order: 4;
}